// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #06417A;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #3DCF8D;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark: #293241;
$light-blue: #98C1D9;
$purple: #5559bf;
