// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #06417A;
$yellow: #FFC65A;
$orange: #E37C4B;
$green: #3DCF8D;
$gray: #6B7C93;
$light-gray: #E3E8EE;
$dark: #293241;
$light-blue: #98C1D9;
$purple: #32325C;

// KarbonChain colors:
$kc-black: #070D19;
$kc-blue: #1A2980;
$kc-turquoise: #26D0CE;
$kc-lightblue: #E0F8F8;
$kc-yellow: #FBD723;
$kc-orange: #E6951D;
$kc-pink: #FE6F69;
