<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Message test
      <!-- email with name, email and content-->
    </p>
  </body>
</html>
