<div class="bg-kc-yellow py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <%= link_to "< Retour aux articles", articles_path, class:"btn btn-kc-outline-orange"  %>
        <!-- Titre -->
        <h1 class="my-4">
          Pourquoi faire le bilan GES de son entreprise ?
        </h1>
        <!-- Chapeau -->
        <p>
          Vous n'êtes pas encore convaincu ? Voici les raisons de passer de
          l'intention à l'action.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-white pt-5 pb-3">
  <div class="container article">
    <div class="row justify-content-center mb-5">
      <div class="col-12 col-lg-8">
        <p>
          L’idée de réaliser le bilan GES de votre entreprise vous trotte dans
          la tête depuis un certain temps mais vous cherchez encore une bonne
          raison de franchir le pas ? Vous réalisez déjà l’exercice, mais uniquement
          tous les 4 ans, car vous le jugez trop laborieux ?
          <br>
          Voici une petite liste pour vous convaincre de passer à la vitesse
          supérieure !
        </p>
        <h4 class="pt-3">
          1. Pour réduire les coûts et gagner en compétitivité
        </h4>
        <p>
          Un bilan GES ne constitue que la première étape d’une démarche stratégique
          bien plus large. En effet, en enrichissant la collecte, le suivi et la
          compréhension des données d’activités de votre entreprise (énergie,
          déchets, achats, transport, etc.), vous pouvez mettre en place un plan
          d'action de réduction des émissions qui permet de mieux piloter votre
          activité. Un bilan GES est donc un outil pour améliorer la performance
          opérationnelle de votre entreprise, dans une logique d’optimisation des
          ressources et des processus. Ne vous y trompez pas, <span class="bg-kc-lightblue">
          des actions simples peuvent apporter des bénéfices économiques à court terme !</span>
        </p>
      </div>
      <div class="col-12 col-lg-8 box-conclusion mt-0">
        <p class="m-0">
          Notre outil, pensé pour un suivi dynamique de votre bilan dans le
          temps, permet une fréquence de reporting et un suivi d’indicateurs
          opérationnels plus fins.
        </p>
      </div>
      <div class="col-12 col-lg-8 pt-3">
        <h4 class="pt-3">
          2. Pour limiter ses risques Climat
        </h4>
        <p>
          À plus long terme, une stratégie carbone permet de réduire un certain
          nombre de risques croissants du changement climatique, qu’ils soient
          liés à la transition bas carbone (e.g. actifs échoués, possible taxe
          carbone aux frontières de l’Union Européenne) ou à ses impacts physiques.
          L’exposition à ces risques devient un critère important pour les
          investisseurs soumis à des obligations d’informations sur le sujet
          (Article 173 de la loi sur la transition énergétique). <span class="bg-kc-lightblue">
           Une stratégie pérenne visera notamment à réduire votre dépendance aux énergies
          fossiles, dont les ressources seront de plus en plus contraintes et
          les prix toujours plus volatils </span>, voire à définir un prix du carbone
          en interne pour en anticiper une future généralisation.
        </p>
      </div>
      <div class="col-12 col-lg-8 box-conclusion  mt-0 p-4">
        <p class="m-0">
          Un bilan KarbonChain peut être présenté selon les cadres de reporting
          les plus courants, ce qui assure ainsi un niveau d’informations
          optimal auprès des investisseurs.
        </p>
      </div>
      <div class="col-12 col-lg-8 pt-3">
        <h4 class="pt-3">
          3. Pour répondre aux aspirations des collaborateurs
        </h4>
        <p>
          L’objectif de neutralité carbone fixée par la France à 2050 nécessitera
          un effort collectif, dont l’idée fait de plus en plus son chemin dans
          la société civile. Il est donc naturel de retrouver chez vos collaborateurs
          l’envie de contribuer à la lutte contre le changement climatique, y
          compris via leur travail : si la définition de neutralité carbone à
          l’échelle d’une entreprise reste une notion difficile à définir, il
          reste certain que nous n’y parviendrons pas sans une implication et
          des efforts de la part de tous. Un bilan GES est une réelle opportunité
          d’entretenir un cercle vertueux, permettant de <span class="bg-kc-lightblue">renforcer la motivation
          et l’adhésion des collaborateurs au projet de l’entreprise</span>, et d’augmenter
          l’efficacité des actions de réduction des émissions.
          <br>
          La proactivité sur les sujets environnementaux permet de <span class="bg-kc-lightblue">gagner en
          attractivité sur le marché de l’emploi</span>, notamment vis-à-vis des jeunes
          diplômés. Il n’est d’ailleurs plus rare de rencontrer des chefs d’entreprise
          rapportant des difficultés de recrutement en raison d’un engagement RSE
          trop limité !
        </p>
      </div>
      <div class="col-12 col-lg-8 box-conclusion p-4 mt-0">
        <p class="m-0">
          L’ergonomie et l’interactivité de notre outil sont pensées pour permettre
          l’implication de l’ensemble de vos collaborateurs dans la démarche.
        </p>
      </div>

      <div class="col-12 col-lg-8 pt-3">
        <h4 class="pt-3">
          4. Pour booster vos parts de marché et votre image
        </h4>
        <p>
          La communication des résultats et objectifs de réduction fait partie
          intégrante de votre stratégie carbone et contribue à construire une
          perception positive de votre entreprise par les parties prenantes. Dans
          un contexte B2B, <span class="bg-kc-lightblue">les donneurs d’ordre peuvent utiliser le bilan GES de
          leurs fournisseurs comme un critère différenciant (voire excluant)</span>,
          comme l’illustrent les récents développements du CDP (programme “Supply
          chain” qui vise les fournisseurs et sous-traitants) ou de SBTi
          (procédure simplifiée pour les PME pour fixer des objectifs de réduction).
          Pour une entreprise B2C, <span class="bg-kc-lightblue">les consommateurs prêtent de plus en plus
          attention aux impacts environnementaux</span> de leurs achats et de leur
          utilisation (c’est d’ailleurs un poste à ne pas négliger dans le scope 3 !).
        </p>
      </div>
      <div class="col-12 col-lg-8 box-conclusion p-4 mt-0">
        <p class="m-0">
          Notre nom reflète pleinement la nécessité d’une vision interdépendante
          des émissions au niveau d’une chaîne de valeur, qui se traduit par des
          fonctionnalités ad hoc dans notre outil, tant au niveau des fournisseurs
          que des clients et utilisateurs finaux.
        </p>
      </div>

      <div class="col-12 col-lg-8 pt-3">
        <h4 class="pt-3">
          5. Pour respecter et anticiper la réglementation
        </h4>
        <p>
          Si votre entreprise emploie plus de 500 collaborateurs, elle est déjà
          soumise à une obligation de réaliser un bilan d’émissions de gaz à effet
          de serre (BEGES) tous les 4 ans. Le périmètre de ce bilan doit aujourd’hui
          inclure à minima les scopes 1 et 2, ainsi que le scope 3 de manière
          recommandée. La loi Énergie-Climat de 2019 prévoit une augmentation de
          la sanction en cas de non-publication du BEGES (de 1.500 € à 10.000 € minimum),
          ainsi qu’un élargissement du périmètre obligatoire de reporting pour prendre
          en compte l’ensemble de la chaîne de valeur. <br>
          En attendant un possible abaissement du seuil de 500 collaborateurs,
          les petites et moyennes entreprises sont déjà soumises à d’autres
          réglementations en lien avec leurs émissions, comme par exemple les
          plans de mobilité (à partir de 100 collaborateurs sur un même site).
        </p>
      </div>
      <div class="col-12 col-lg-8 box-conclusion p-4 mt-0">
        <p class="m-0">
          Nous avons à coeur de faciliter un impact maximal et une optimisation
          des efforts de réduction. Pour cette raison, notre outil vise dès
          aujourd’hui à traiter les trois scopes de manière équivalente, dans
          la recherche des principaux postes d’émission.
        </p>
      </div>

    </div>
    <%= link_to "< Retour aux articles", articles_path, class:"btn btn-kc-outline-blue my-4"  %>
  </div>
</div>


