<div class="bg-kc-lightblue py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <%= link_to "< Retour aux articles", articles_path, class:"btn btn-small btn-light"  %>
        <!-- Titre -->
        <h1 class="my-4">
          Bilan carbone, déclaration extra-financière : quelle réglementation pour votre entreprise ?
        </h1>
        <!-- Chapeau -->
        <p>
          BEGES, DPEF, OTI, scope 3… La réglementation pour le reporting des émissions de gaz à effet de serre peut paraître complexe. On vous aide à y voir plus clair!
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container article">
    <div class="row justify-content-center mb-5">
      <div class="col-12 col-lg-8">
        <!-- Illustration -->
        <div class="centered-image mb-5">
          <%= image_tag 'articles/reglementation-entreprise/beges-dpef-meme2.png', class: "illustration"%>
          <p><small><i>Responsable RSE découvrant la réglementation française pour le reporting carbone</i></small></p>
        </div>

        <!-- Debut article-->
        <h4>
          Bilan carbone, BEGES,  DPEF : quelles différences?
        </h4>
        <p>
          Au commencement était le <span class="bg-kc-lightblue"><strong>BEGES</strong></span>, c’est à dire le <i>Bilan des Émissions de Gaz à Effet de Serre</i>, plus communément appelé <span class="bg-kc-lightblue"><strong>bilan carbone</strong></span>.
          Cette réglementation pionnière créée en 2010 oblige les entreprises de plus de 500 salariés à faire un bilan de leurs émissions tous les 4 ans et les déclarer sur le <a href="https://bilans-ges.ademe.fr/fr">site de l’ADEME</a>.
        </p>

        <p>
          Puis vint la <span class="bg-kc-lightblue"><strong>DPEF</strong></span> - <i>Déclaration de Performance Extra-Financière</i>. Mise en place avec la Loi de Transition Energétique, elle oblige les entreprises d’une certaine taille à faire chaque année l’inventaire de leurs “postes significatifs d’émissions” et de les publier dans leur document de référence. Cette réglementation est la transposition d’une directive européenne de 2014 sur la transparence et la publication d’informations extra-financières.
        </p>

        <p>
          BEGES et DPEF : deux réglementations qui se recouvrent donc en partie, mais diffèrent sur de nombreux points. Un tableau n’est pas de trop pour y voir plus clair.
        </p>
      </div>
    </div>


    <!-- Tableau de comparatif -->
    <div class="container">
      <!-- Header tableau -->
      <div class="row smaller-text align-items-center">
        <div class="col-2">
        </div>
        <div class="col-5 table-header">
          <h5>BEGES</h5>
        </div>
        <div class="col-5 table-header">
          <h5>DPEF</h5>
        </div>
      </div>

      <!-- Ligne 1 -->
      <div class="row smaller-text">
        <div class="col-2 first-column">
          <h5 class="p-0">
            <i class="fas fa-sitemap"></i>
          </h5>
          <h5>
            Entités
          </h5>
        </div>
        <div class="col-5">
          <p>
            Toute personne morale de droit privé de plus de 500 salariés
          </p>
        </div>
        <div class="col-5">
          <p>
            Les <strong>sociétés côtées</strong> avec un CA >40m€  et un bilan >20m€
          </p>
          <p>
            Les <strong>sociétés non-côtées</strong> avec un CA ou un bilan >100m€
          </p>
          <p>
            NB : les SAS ne sont pas concernées
          </p>
        </div>
      </div>

      <!-- Ligne 2 -->
      <div class="row">
        <div class="col-2 first-column smaller-text">
          <h5 class="p-0">
            <i class="fas fa-smog"></i>
          </h5>
          <h5 class="">
            Emissions
          </h5>
        </div>
        <div class="col-5 smaller-text top-border">
          <p>
            <strong>Scopes 1 et 2 : </strong>
            <br>
            <i>
              "émissions directes, et indirectes associées à la consommation d'électricité, de chaleur ou de vapeur"
            </i>
          </p>
        </div>
        <div class="col-5 smaller-text top-border">
          <p>
            <strong>Principales émissions des scopes 1, 2 et 3 : </strong>
            <br>
            <i>
              "postes significatifs d'émissions générés du fait de l'activité de la société, notamment par l'usage des biens et services qu'elle produit”
            </i>
          </p>
        </div>
      </div>

      <!-- Ligne 3 -->
      <div class="row">
        <div class="col-2 first-column smaller-text">
          <h5 class="p-0">
            <i class="far fa-clock"></i>
          </h5>
          <h5 class="">
            Fréquence
          </h5>
        </div>
        <div class="col-5 smaller-text top-border">
          <p>
            Tous les 4 ans
          </p>
        </div>
        <div class="col-5 smaller-text top-border">
          <p>
            Tous les ans
          </p>
        </div>
      </div>

      <!-- Ligne 4 -->
      <div class="row smaller-text">
        <div class="col-2 first-column smaller-text">
          <h5 class="p-0">
            <i class="fas fa-globe-europe"></i>
          </h5>
          <h5 class="">
            Périmètre géographique
          </h5>
        </div>
        <div class="col-5 smaller-text top-border">
          <p>
            France
          </p>
        </div>
        <div class="col-5 smaller-text top-border">
          <p>
            Monde
          </p>
        </div>
      </div>

      <!-- Ligne 5 -->
      <div class="row">
        <div class="col-2 first-column smaller-text">
          <h5 class="p-0">
            <i class="fas fa-calculator"></i>
          </h5>
          <h5 class="">
            Méthode de calcul
          </h5>
        </div>
        <div class="col-10 smaller-text top-border">
          <p>
            Pas de méthodologie requise, mais les guides sectoriels de l’ADEME font référence en la matière
          </p>
        </div>
      </div>

      <!-- Ligne 6 -->
      <div class="row">
        <div class="col-2 first-column smaller-text">
          <h5 class="p-0">
            <i class="fas fa-user-check"></i>
          </h5>
          <h5 class="">
            Audit et contrôle
          </h5>
        </div>
        <div class="col-5 smaller-text top-border">
          <p>
            Pas d’audit
          </p>
          <p>
            Contrôle par les DREAL et sanction possible (1500€)
          </p>
        </div>
        <div class="col-5 smaller-text top-border">
          <p>
            Audit par un organisme tiers indépendant (OTI) obligatoire pour les entreprises  >500 salariés avec un chiffre d’affaires ou un bilan >100m€
          </p>
        </div>
      </div>

      <!-- Ligne 7 -->
      <div class="row">
        <div class="col-2 first-column smaller-text">
          <h5 class="p-0">
            <i class="fas fa-upload"></i>
          </h5>
          <h5 class="">
            Publication
          </h5>
        </div>
        <div class="col-5 smaller-text top-border">
          <p>
            Sur le <a href="https://bilans-ges.ademe.fr/fr">site dédié de l’ADEME</a>
          </p>
        </div>
        <div class="col-5 smaller-text top-border">
          <p>
            Dans le document de référence
          </p>
        </div>
      </div>

    </div>

    <br>

    <div class="row justify-content-center my-5">
      <div class="col-12 col-lg-8">
        <p>
          Deux remarques pour compléter cette comparaison :
          <ul>
            <li>
              La DPEF a un périmètre beaucoup plus large que le bilan carbone : l’entreprise doit décrire son modèle d’affaires, l’ensemble des risques et impacts sur l’environnement (carbone, eau, déchets…).
            </li>
            <li>
              Le bilan carbone et la DPEF requièrent tous deux de décrire le “plan d’action” pour réduire les émissions
            </li>
          </ul>
        </p>

        <br>

        <h4>
          Quelle complémentarité entre bilan carbone et déclaration extra-financière?
        </h4>

        <p>
          Admettons que mon entreprise soit non-cotée, avec un chiffre d’affaires supérieur à 100 millions d’euros et emploie plus de 500 personnes : je dois donc réaliser un bilan carbone (BEGES) et une déclaration de performance extra-financière. Puis-je “fusionner” les deux? Est-ce que la DPEF ne recouvre pas déjà les obligations du bilan carbone?
        </p>

        <p>
        Globalement, il est possible de se limiter aux éléments produits dans la DPEF, si celle-ci comprend bien la mesure des émissions de gaz à effet de serre et un plan d’action pour les réduire.
        Dans la pratique  :
        <ul>
          <li>
            <i class="fas fa-database"></i> <span class="bg-kc-lightblue">Types d'informations</span> : La DPEF couvre un périmètre bien plus large que le bilan carbone : modèle d’affaire, risques et impacts sur l’ensemble des paramètres de soutenabilité (carbone, eau, déchets…). Qui peut le plus peut le moins!
          </li>
          <br>
          <li>
            <i class="fas fa-sitemap"></i> <span class="bg-kc-lightblue">Entités couvertes</span> : la DPEF est réalisée au niveau du groupe, tandis que le bilan carbone doit être réalisé pour chaque entité juridique de plus de 500 employés (il peut donc y en avoir plusieurs pour un même groupe). Néanmoins, la DPEF est désormais suffisante, et il n’est plus nécessaire de déclarer un bilan carbone séparé pour chaque entité : reporting au niveau groupe suffit.
          </li>
          <br>
          <li>
            <i class="fas fa-smog"></i> <span class="bg-kc-lightblue">Émissions</span> : La DPEF couvre les “postes significatifs”, dont certains peuvent être indirects : achats, utilisation des produits vendus… (le “scope 3”). Dans les faits, une entreprise mesure plus facilement ses émissions directes (scope 1) et indirectes liées à l’énergie (scope 2), et il est attendu qu’elle les fournisse dans sa DPEF. La DPEF couvre donc a minima les émissions obligatoires pour un bilan carbone (scope 1 et 2)
          </li>
          <br>
          <li>
            <i class="far fa-clock"></i> <span class="bg-kc-lightblue">Fréquence</span> : La DPEF est annuelle, donc plus fréquente que le bilan carbone. Ses données peuvent donc être utilisée pour la déclaration BEGES.
          </li>
          <br>
          <li>
            <i class="fas fa-route"></i> <span class="bg-kc-lightblue">Plan d’action</span> : Le plan d’action du DPEF est valable pour le BEGES : pas besoin de produire un document spécifique pour le BEGES.
          </li>
          <br>
          <li>
            <i class="fas fa-upload"></i> <span class="bg-kc-lightblue">Publication</span> : L’entreprise doit toujours déclarer son bilan carbone sur le site de l’ADEME, en plus de la DPEF inclut chaque année dans son document de référence.
          </li>
        </ul>
        </p>

        <p>
          Bien sûr, si mon entreprise est en dessous du seuil de la DPEF mais au-dessus de celui du bilan carbone (500 employés), je suis soumis uniquement au bilan carbone.
        </p>

        <p>
          Au-delà de ces obligations réglementaires, l’essentiel n’est pas le reporting “en soi”, mais l’objectif qu’il sert : comprendre son empreinte carbone, pour mieux la réduire.
          Et c’est la mission que nous nous sommes donnés chez KarbonChain.
        </p>
      </div>
    </div>

  <%= link_to "< Retour aux articles", articles_path, class:"btn btn-small btn-light"  %>
  </div>
</div>
