<div class="bg-kc-yellow py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <%= link_to "< Retour aux articles", articles_path, class:"btn btn-kc-outline-orange"  %>
        <!-- Titre -->
        <h1 class="my-4">
          Bilan carbone, déclaration extra-financière : quelle réglementation
          pour votre entreprise ?
        </h1>
        <!-- Chapeau -->
        <p>
          BEGES, DPEF, OTI, scope 3… La réglementation pour le reporting des
          émissions de gaz à effet de serre peut paraître complexe. On vous
          aide à y voir plus clair !
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-white pt-5 pb-3">
  <div class="container article">
    <div class="row justify-content-center mb-5">
      <div class="col-12 col-lg-8">
        <!-- Illustration -->
        <div class="centered-image mb-5">
          <%= image_tag 'articles/reglementation-entreprise/beges-dpef-meme2.png', class: "illustration"%>
          <p><small><i>Responsable RSE découvrant la réglementation française
          pour le reporting carbone</i></small></p>
        </div>

        <!-- Debut article-->
        <h4>
          Bilan carbone, BEGES,  DPEF : quelles différences ?
        </h4>
        <p>
          Au commencement était le
          <span class="bg-kc-lightblue text-kc-blue"><strong>BEGES</strong></span>,
          c’est à dire le <i>Bilan des Émissions de Gaz à Effet de Serre</i>,
          plus communément appelé <span class="bg-kc-lightblue text-kc-blue"><strong>bilan carbone</strong></span>.
          Cette réglementation pionnière créée en 2010 oblige les entreprises
          de plus de 500 salariés à faire un bilan de leurs émissions tous les 4 ans
          et les déclarer sur le <a href="https://bilans-ges.ademe.fr/fr" class="blue-link"
          target="_blank">site de l’ADEME</a>.
        </p>

        <p>
          Puis vint la <span class="bg-kc-lightblue text-kc-blue"><strong>DPEF</strong></span>
          - <i>Déclaration de Performance Extra-Financière</i>. Mise en place
          avec la Loi de Transition Energétique, elle oblige les entreprises
          d’une certaine taille à faire chaque année l’inventaire de leurs “postes
          significatifs d’émissions” et de les publier dans leur document de
          référence. Cette réglementation est la transposition d’une directive
          européenne de 2014 sur la transparence et la publication d’informations
          extra-financières.
        </p>

        <p>
          BEGES et DPEF : deux réglementations qui se recouvrent donc en partie,
          mais diffèrent sur de nombreux points. Un tableau n’est pas de trop
          pour y voir plus clair.
        </p>
      </div>
    </div>


    <!-- Tableau de comparatif -->


    <div class="table-responsive">
      <table class="table small table-striped table-bordered">
        <!-- header tableau -->
        <thead class="bg-kc-orange text-white">
          <tr>
            <th scope="col"></th>
            <th scope="col">BEGES</th>
            <th scope="col">DPEF</th>
          </tr>
        </thead>
        <tbody>
          <!-- ligne 1 -->
          <tr>
            <th scope="row" class="align-middle"><i class="fas fa-sitemap"></i><br>Entités</th>
            <td class="align-middle">Toute personne morale de droit privé de plus de 500 salariés</td>
            <td>
              <ul>
                <li>Les <span class="bg-kc-lightblue">sociétés cotées</span> avec un CA > 40m€  et un bilan > 20m€</li>
                <li>Les <span class="bg-kc-lightblue">sociétés non-cotées</span> avec un CA ou un bilan > 100m€</li>
              </ul>
              <span class="small">NB : les SAS ne sont pas concernées</span>
            </td>
          </tr>
          <!-- ligne 2 -->
          <tr>
            <th scope="row" class="align-middle"><i class="fas fa-smog"></i><br>Émissions</th>
            <td>
                <ul>
                  <li>
                    <span class="bg-kc-lightblue">Scopes 1 et 2 obligatoires</span>
                    <br>
                    <i>
                      "émissions directes, et indirectes associées à la consommation d'électricité, de chaleur ou de vapeur"
                    </i>
                  </li>
                  <li>
                    <span class="bg-kc-lightblue">Scope 3 recommandé</span>
                  </li>
                </ul>
            </td>
            <td>
              <span class="bg-kc-lightblue">Principales émissions des scopes 1, 2 et 3</span>
              <br>
              <i>
                "postes significatifs d'émissions générés du fait de l'activité de la société, notamment par l'usage des biens et services qu'elle produit”
              </i>
            </td>
          </tr>
          <!-- ligne 3 -->
          <tr>
            <th scope="row" class="align-middle"><i class="far fa-clock"></i><br>Fréquence</th>
            <td class="text-center">Tous les 4 ans</td>
            <td class="text-center">Tous les ans</td>
          </tr>
          <!-- ligne 4 -->
          <tr>
            <th scope="row" class="align-middle"><i class="fas fa-globe-europe"></i> <br>Périmètre géographique</th>
            <td class="text-center">France</td>
            <td class="text-center">Monde</td>
          </tr>
          <!-- ligne 5 -->
          <tr>
            <th scope="row" class="align-middle"><i class="fas fa-calculator"></i><br>Méthode de calcul</th>
            <td  class="text-center" colspan="2">Pas de méthodologie imposée, mais les guides sectoriels de l’ADEME font référence en la matière</td>
          </tr>
          <!-- ligne 6 -->
          <tr>
            <th scope="row" class="align-middle"><i class="fas fa-user-check"></i><br>Audit et contrôle</th>
            <td>
              <ul>
                <li>Pas d’audit</li>
                <li>Contrôle par les DREAL et sanction possible (1500€)</li>
              </ul>
            </td>
            <td>Audit par un organisme tiers indépendant (OTI) obligatoire pour les entreprises  > 500 salariés avec un chiffre d’affaires ou un bilan > 100m€</td>
          </tr>
          <!-- ligne 7 -->
          <tr>
            <th scope="row" class="align-middle"><i class="fas fa-upload"></i><br>Publication</th>
            <td class="text-center">Sur le <a href="https://bilans-ges.ademe.fr/fr">site dédié de l’ADEME</a></td>
            <td class="text-center">Dans le document de référence</td>
          </tr>
        </tbody>
      </table>
    </div>


    <!-- fin tableau -->

    <div class="row justify-content-center mt-5">
      <div class="col-12 col-lg-8">
        <p>
          Deux remarques pour compléter cette comparaison :
          <ul>
            <li>
              La DPEF a un périmètre beaucoup plus large que le bilan carbone : l’entreprise doit décrire son modèle d’affaires, l’ensemble des risques et impacts sur l’environnement (carbone, eau, déchets…).
            </li>
            <li>
              Le bilan carbone et la DPEF requièrent tous deux de décrire le “plan d’action” pour réduire les émissions
            </li>
          </ul>
        </p>

        <br>

        <h4>
          Quelle complémentarité entre bilan carbone et déclaration extra-financière?
        </h4>

        <p>
          Admettons que votre entreprise soit non-cotée, avec un chiffre d’affaires
          supérieur à 100 millions d’euros et emploie plus de 500 personnes : vous
          devez donc réaliser un bilan carbone (BEGES) et une DPEF. Pouvez-vous
          “fusionner” les deux ? Est-ce que la DPEF ne recouvre pas déjà les
          obligations du bilan carbone ?
        </p>

        <p>
        Globalement, il est possible de se limiter aux éléments produits dans la
        DPEF, si celle-ci comprend bien l'inventaire des émissions de gaz à effet
        de serre et un plan d’action pour les réduire.
        Dans la pratique :
        <ul>
          <li>
            <i class="fas fa-database"></i> <span class="bg-kc-lightblue">Types d'informations</span> :
            La DPEF couvre un périmètre bien plus large que le bilan carbone :
            modèle d’affaire, risques et impacts sur l’ensemble des paramètres
            de soutenabilité (carbone, eau, déchets…). Qui peut le plus peut le moins !
          </li>
          <br>
          <li>
            <i class="fas fa-sitemap"></i> <span class="bg-kc-lightblue">Entités couvertes</span> :
            la DPEF est réalisée au niveau du groupe, tandis que le bilan carbone
            doit être réalisé pour chaque entité juridique de plus de 500 employés
            (il peut donc y en avoir plusieurs pour un même groupe). Néanmoins,
            la DPEF est désormais suffisante, et il n’est plus nécessaire de
            déclarer un bilan carbone séparé pour chaque entité : reporting au
            niveau groupe suffit.
          </li>
          <br>
          <li>
            <i class="fas fa-smog"></i> <span class="bg-kc-lightblue">Émissions</span> :
            La DPEF couvre les “postes significatifs”, dont certains peuvent être
            indirects : achats, utilisation des produits vendus… (scope 3).
            Dans les faits, une entreprise mesure plus facilement ses émissions
            directes (scope 1) et indirectes liées à l’énergie (scope 2), et il
            est attendu qu’elle les fournisse dans sa DPEF. La DPEF couvre donc
            à minima les émissions obligatoires pour un bilan carbone (scopes 1 et 2).
          </li>
          <br>
          <li>
            <i class="far fa-clock"></i> <span class="bg-kc-lightblue">Fréquence</span> :
            La DPEF est annuelle, donc plus fréquente que le bilan carbone.
            Ses données peuvent donc être utilisées pour la déclaration BEGES.
          </li>
          <br>
          <li>
            <i class="fas fa-route"></i> <span class="bg-kc-lightblue">Plan d’action</span> :
            Le plan d’action du DPEF est valable pour le BEGES : pas besoin de
            produire un document spécifique pour le BEGES.
          </li>
          <br>
          <li>
            <i class="fas fa-upload"></i> <span class="bg-kc-lightblue">Publication</span> :
            L’entreprise doit toujours déclarer son bilan carbone sur le site de
            l’ADEME, en plus de la DPEF incluse chaque année dans son document de référence.
          </li>
        </ul>
        </p>
        <p>
          Bien sûr, si votre entreprise est en dessous du seuil de la DPEF mais
          au-dessus de celui du bilan carbone (500 employés), je suis soumis
          uniquement au bilan carbone.
        </p>
      </div>
      <div class="col-12 col-lg-8 bg-kc-yellow p-4">
        <p>
          Chez KarbonChain, nous sommes convaincus que l'essentiel n'est pas le
          reporting en soi, et qu'il ne s'agit là que d'une première étape.<br>
          Au-delà de ces obligations réglementaires, l’objectif est de comprendre
          son empreinte carbone, pour mieux la réduire.
        </p>
        <p>
          En qui concerne le scope 3, il représente dans de nombreux cas une part
          significative des émissions et doit donc être pris en compte pour élaborer
          son plan d'actions. C'est dans ce sens que va évoluer la réglementation
          et KarbonChain s'applique tout particulièrement à vous simplifier l'inventaire
          de celui-ci.
        </p>
      </div>
    </div>
    <%= link_to "< Retour aux articles", articles_path, class:"btn btn-kc-outline-blue my-4"  %>
  </div>
</div>

