<div class="stickyWrapper" id="stickyHeaderScroll">
  <div class="stickyMainContainer">

    <div class="stickyHeader">
      <h2>stickyHeader 001</h2>
      <a href="#" class="stickyNavLink">Link</a>
    </div>

    <div class="stickyTabContainer">
      <p>Content</p>
      <p>Content</p>
      <p>Content</p>
      <p>Content</p>
    </div>

    <div class="stickyHeader">
      <h2>stickyHeader 002</h2>
      <a href="#" class="stickyNavLink">Link</a>
    </div>

    <div class="stickyTabContainer">
      <p>Content</p>
      <p>Content</p>
      <p>Content</p>
      <p>Content</p>
    </div>

    <div class="stickyHeader">
      <h2>stickyHeader 003</h2>
      <a href="#" class="stickyNavLink">Link</a>
    </div>

    <div class="stickyTabContainer">
      <p>Content</p>
      <p>Content</p>
      <p>Content</p>
      <p>Content</p>
    </div>

  </div>
</div>

<!--Scripts-->
<!-- <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="js/stickyMultiHeader.js"></script>
<script>
 $(document).ready(function(){
  $('#stickyHeaderScroll').stickyMultiHeader({
    scrollAnimation: 600,
  });
});
</script>
 -->
