<div class="container">
  <% @testorga.each do |item| %>
    <p><%= item.name %></p>
  <% end %>
</div>


<!-- objectif :  -->
<!-- https://javascripttreemenu.com/html-tree-expand-collapse-example.html -->
<!-- Example collapsable tree -->
<!-- https://bl.ocks.org/headwinds/4cc120edc973b34c4e569cfdd21b5516 -->


<!-- librairie gratuite intéressante -->
<!-- https://github.com/dabeng/OrgChart-Webcomponents -->
<!-- Bon example horizontal mais payant -->
<!-- https://balkangraph.com/OrgChartJS/Docs/ExpandCollapse -->

<!-- gratuit, mais horizontal -->
<!-- https://fperucic.github.io/treant-js/ -->


<!-- Lien pour Google chart en collapsible -->
<!-- https://stackoverflow.com/questions/38797808/google-org-chart-with-hyperlink-and-1-click-expand-collapse -->
<!-- d3 collapsible tree -->
<!-- https://observablehq.com/@d3/collapsible-tree -->
