<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    © KarbonChain 2020. Tous droits réservés
  </div>
</div>
