<div class="container mt-2">
  <nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link active">1. Module selection</a>
    <div class="arrow-right-selected"></div>
    <a class="nav-item nav-link">2. Organization</a>
    <div class="arrow-right-not-selected"></div>
    <a class="nav-item nav-link">3. Contributors</a>
    <div class="arrow-right-not-selected"></div>
  </nav>
</div>
