<div class="bg-kc-lightblue py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- Titre -->
        <h1 class="my-4">
          À propos
        </h1>
        <!-- Chapeau -->
        <p>
          Découvrez comment est née l'idée de KarbonChain, et qui est l'équipe
          qui cherche à la mettre en oeuvre.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container article">
    <div class="row justify-content-center mb-5">

        <!-- Paragraphe 1.-->

        <div class="col-12  col-lg-8 pt-3">
          <!-- Titre -->
          <h4>
            Notre vision et notre mission
          </h4>

        <!-- Contenus -->
          <p>
            La lutte contre le changement climatique nécessite des mutations
            profondes et des efforts de la part de chacun. Nous en sommes convaincus.
          </p>

          <p>
            Face à cela, les entreprises et collectivités, acteurs essentiels
            de la transition, disposent de moyens insuffisants en comparaison
            de l’enjeu, alors que l’urgence se fait de plus en plus pressante,
            et la réglementation toujours plus exigeante.
          </p>
          <p>
            Pour répondre à cette attente, nous nous sommes donnés cette mission :
          </p>
          <p><span class="bg-kc-lightblue text-kc-blue"><strong>
            Fournir aux organisations les moyens de répondre au défi du changement climatique.
          </strong></span></p>
          <p>
            Nous souhaitons mettre à votre disposition des outils pour mettre
            en oeuvre plus efficacement et simplement, votre engagement et vos
            actions pour le climat.
          </p>
          <p>
            Pour cela, nous pensons que la technologie a un rôle essentiel à
            jouer, en apportant une expérience utilisateur et une productivité
            exceptionnelles, et un maximum d’automatisation.

          </p>
          <div class="centered-image mb-4">
            <%= image_tag 'pages/about/love-that-job.gif',
                class: "illustration-35vh",
                alt: "GIF - I love that job"
            %>
          </div>
        </div>

        <!-- Paragraphe 2-->
        <div class="col-12 col-lg-8 pt-3">
          <!-- Titre -->
          <h4>
            Notre équipe
          </h4>

        <!-- Contenu -->
          <p>
            Pour porter cette vision, nous avons réuni au départ une trentaine
            d’années d’expérience : dans l’environnement et le climat bien sûr,
            dans le conseil aux entreprises et collectivités, dans les startups,
            dans le développement web et la technologie.
          </p>
          <p>
            Alumnis de l’École Polytechnique, d’HEC et du <a href="https://www.lewagon.com/" class="blue-link" target="_blank">Wagon</a>, nous avons en commun notre
            soif d’apprendre et de progresser, de résoudre des problèmes complexes.
          </p>
          <p>
            Enfin et par-dessus tout, notre dévouement pour notre mission est
            porté par notre engagement personnel dans la lutte contre le changement climatique.
          </p>
          <div class="about-avatars pt-3">
            <div class="text-center pt-3">
              <a href="https://www.linkedin.com/in/laurentbarbezieux/" class="about-avatar" target="_blank">
                <%= image_tag 'pages/about/avatar-laurent.png',
                  class: "about-avatar-img",
                  alt: "Laurent Barbezieux"
                %>
                <p class="mt-2">Laurent Barbezieux</p>
              </a>
            </div>
            <div class="text-center pt-3">
              <a href="https://www.linkedin.com/in/alex-huyn-4616b918/" class="about-avatar" target="_blank">
                <%= image_tag 'pages/about/avatar-alex.png',
                    class: "about-avatar-img",
                    alt: "Alex Huyn"
                %>
                <p class="mt-2">Alex Huyn</p>
              </a>
            </div>
            <div class="text-center pt-3">
              <a href="https://www.linkedin.com/in/thibault-faninger-01439079/" class="about-avatar" target="_blank">
                <%= image_tag 'pages/about/avatar-thibault.png',
                  class: "about-avatar-img",
                  alt: "Thibault Faninger"
              %>
              <p class="mt-2">Thibault Faninger</p>
              </a>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
