<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?cs=srgb&dl=architecture-buildings-business-city-325185.jpg&fm=jpg);">
  <div class="container">
    <h1>Karbon<strong>Chain</strong></h1>
    <p>The carbon accounting platform for your compagny.</p>
    <%= link_to "Try now", reports_path, class: "btn btn-light"%>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= image_tag 'automation.png' %>
    </div>
    <div class="col-sm">
      <%= image_tag'power-plant.png' %>
    </div>
    <div class="col-sm">
      <%= image_tag 'manufacturing.png' %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <img src="https://images.pexels.com/photos/443383/pexels-photo-443383.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
