<div class="bg-kc-lightblue py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- Titre -->
        <h1 class="my-4">
          Mentions légales
        </h1>
        <!-- Chapeau -->
        <p>
          Dernière mise à jour le 5 mai 2020
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container article">
    <div class="row justify-content-center mb-5">

        <!-- Paragraphe 1.-->

        <div class="col-12  col-lg-8 pt-3">
          <h5>Édition du site</h5>
          <p>
            Le site internet karbonchain.com est édité par la société KarbonChain,
            société par actions simplifiée, au capital de 10 000€, dont le siège
            social est situé au 25 rue de la Roquette, 75011 Paris, et
            immatriculée au Registre du Commerce et des Sociétés de Paris sous
            le numéro 882 644 875.
          </p>

          <h5>Hébergement</h5>
          <p>
            Le site est hébergé par la société Heroku, One Bush Plaza, 1 Market
            Street, San Francisco (US) - https://www.heroku.com/contact.
          </p>

          <h5>Responsable de la publication</h5>
          <p>
            Monsieur Laurent Barbezieux, président de KarbonChain.
          </p>

          <h5>Nous contacter</h5>
          <p>
            Par email : contact@karbonchain.com
          </p>

      </div>

    </div>
  </div>
</div>

