<p>test</p>

<% @emission_factors.each do |emission_factor| %>
<% end %>


<!-- References pour dropdown dynamique
  Bon exemple avec Rails 4:
  https://kernelgarden.wordpress.com/2014/02/26/dynamic-select-boxes-in-rails-4/
  http://calm-sierra-1168.herokuapp.com/welcome/index


  https://stackoverflow.com/questions/48462992/dynamic-select-dropdown-rails-5-ajax


  Demo / jQuery : https://css-tricks.com/dynamic-dropdowns/

  Demo / HTML + JS only : https://bootsnipp.com/snippets/xrQOB
  => besoin de définir toutes les listes en JS...

 -->
