<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>
      New message from contact page
    </h2>
    <h3>Name: <%= @contact.name %></h2>
    <h3>Email: <%= @contact.email %></h3>
    <h3>Message: <%= @contact.message %></h3>
  </body>
</html>
