// -------------------------------------------------------------------------
// Article index
// -------------------------------------------------------------------------
// Article cards (adapted Wagon UI kitt)

.cards {
  display: grid;
  grid-template-column: 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.card-article {
  overflow: hidden;
  //height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  //display: flex;
  align-items: center;
  border-radius: 5px;

}

.card-article img {
  //height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-article .card-article-infos {
  padding: 1rem;
}

.card-image {
height: 10vh;
}

// ---------------------------------------------------------------------


// Divider entre sections

.divider {
  background-color: #E0F8F8;
  width: 90%;
  height: 2px;
}


// -------------------------------------------------------------------------
// Polices de caractère
// -------------------------------------------------------------------------

.article a {
  color: #1A2980;
  font-weight: 500;
}
// -------------------------------------------------------------------------
// Tableau
// -------------------------------------------------------------------------

// .table-responsive {
//        width: 100%;
//        margin-bottom: 15px;
//        overflow-x: auto;
//        overflow-y: hidden;
//        -webkit-overflow-scrolling: touch;
//        -ms-overflow-style: -ms-autohiding-scrollbar;
//        border: 1px solid #DDD;
//    }
table {
  min-width: 600px;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: rgba(239, 149, 59, 0.07);
 }

 .table-striped>tbody>tr:nth-child(odd)>td,
 .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: white;
  }

.article table td {
  vertical-align: middle;
}

.article table th {
  text-align: center;
}

.article table ul {
  padding: 0 0 0 1rem;
  margin: 0 0 .5rem;
}

.article table {
  color: $kc-black;
}

// -------------------------------------------------------------------------
// Image
// -------------------------------------------------------------------------

.centered-image {
  text-align: center;
}

.article .illustration {
  width: 100%;
}

.article .illustration-35vh {
  height: 35vh;
}

@media (min-width: 768px) {
  .article .illustration {
    width: 70%;
  }
}



