.banner {
  background-size: cover;
  padding: 100px 0;
  height: 85vh;
  background-position: top;
}

.banner-contact {
  background-size: cover;
  padding: 5vw;
  height: 100vh;
  background-position: center;
}

.banner h1 {
  margin: 0;
  color: #1A2980;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  //font-size: 40px;
  font-weight: 300;
  letter-spacing: 0.06rem;
}

.banner p {
  font-size: 20px;
  color: #1A2980;
  opacity: .7;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
