// Bar chart tab

.barchart-card {
  width: 100%;
}

// Scrolling vertical

.content-wrapper-dashboard {
    min-height: calc(100vh - 70px - 100px);
}

// Bouton Delete transparent

.transparent-button a {
  color: rgba(0,0,0,0)
}


.small-text-dashboard {
  font-size: 12px;
}

.details-box-dashboard {
  height: 9vh;
  padding-left: 0.5rem;
  padding-top: 0.3rem;
  margin-top: 0rem;
}

.height-header-filtered-table {
  height: 9vh;
}

//--------------------------------------------------------
// OUT
.top-box {
  background-color:#242542;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 6px 8px 1px 8px;
  margin-bottom: 0.5em;
}

.dashboard-layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 16px;
}

.dashboard-card-1 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  width: 25vw;
  margin: 4vh 2vh 4vh 4vh;
}

.dashboard-card-2 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  width: 50vw;
  margin: 4vh 2vh 4vh 2vh;
}

.dashboard-card-2 p {
  font-size: 12px;
}
