// Form design
.align-new {
  display: contents;
}

.width-form {
  width: 700px;
}

.report_scope_orga_orga {
  width: 100%;
}

.form-check {
  border-color: $primary;
  margin: 30px;
  position: relative;
  height: 40px;
  // border-top: 1px solid;
  // border-bottom: 1px solid;
  // border: 1px solid;
  // border-radius: 4px;
  padding: 0px;
  margin: 0px;
  // margin-bottom: 5px;
  text-align: center;
  width: 100%;
  // height:100%;
  display: inline-block;
  label {
    color: $primary;
    height: 40px;
    width: 100%;
    // position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  label:hover {
    color: $primary;
    border-radius: $border-radius;
    background-color: #F6F9FC;
    opacity: 1;
    cursor: pointer;
  }
  input {
    display: none;
    padding: 10px;
    margin: 0px;
  }
  input:checked {
    + label {
      color: $primary;
      width: 100%;
      // border-radius: $border-radius;
      background-color: $primary;
    }
  }
}

.report_scope_orga_report_scope {
  width: 100%;
}

.form-post {
  background: white;
  margin-top: 0px;
  padding: 35px;
  border-radius: $border-radius;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

.w-90 {
  width: 90%;
  }
