// Form design
.align-new {
  display: contents;
}

.width-form {
  width: 700px;
}

.report_scope_orga_orga {
  width: 100%;
}

.form-check {
  background-color: #6B7C93;
  margin: 30px;
  position: relative;
  height: 54px;
  border-radius: 4px;
  padding: 20px;
  margin: 5px;
  text-align: center;
  width: 100%;
  display: inline-block;
  label {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  label:hover {
    color: white;
    border-radius: 4px;
    background-color: #3DCF8D;
  }
  input {
    display: none;
    padding: 10px;
    margin: 0px;
  }
  input:checked {
    + label {
      color: white;
      border-radius: 4px;
      background-color: #3DCF8D;
    }
  }
}

.report_scope_orga_report_scope {
  width: 100%;
}

.form-post {
  background: white;
  margin-top: 0px;
  padding: 35px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}
