.nav .nav-link {
  background-color:rgba(0,0,0,0.1);
  margin: 0px 0px 0px 0px;
  border-radius: 0px;
}

.arrow-right-selected {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-left: 20px solid  $primary;
}

.arrow-right-not-selected {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-left: 20px solid #DBDBDB;
}

.arrow-left-background {

}


.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #E3E8EE;
    background-color: #31315C;
    border-color: #dee2e6 #dee2e6 #E3E8EE;
}
