.nav .nav-link {
  background-color:rgba(0,0,0,0.1);
  margin: 0px 0px 0px 0px;
  border-radius: 0px;
}

.arrow-right-selected {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-left: 20px solid  $primary;
}

.arrow-right-not-selected {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-left: 20px solid #DBDBDB;
}

.arrow-left-background {

}
