.tab-button {
  background-color: #E0FBFC;
  height: 5vh;
}

.tab-button h2 {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.active-tab {
  background-color: #0C60AF !important;
}

.flex-cell {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
}

.cell-justify-left {
  justify-content: left !important;
}

.cell-white-background {
  padding: 5px 15px 5px 15px;
  background-clip: content-box;
  background-color: white;
}

.flex-cell p {
  margin: 0px;
}

.active-tab h2 {
  color: white;
}

.tab-header {
  background-color: #32325C;
  height: 5vh;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-header h3 {
  font-size: 16px;
  color: white;
  margin: 0px;
}

.tab-content {
  text-align:center;
}

.tab-content p {
}

#progress_cards_container {
 width:100%;
 text-align:center;
}

#progress_cards_container > div {
 width: calc(100% / 5);
 display: inline-block;
 vertical-align: top;
 border:1px solid  #32325C;
 text-align:center;
 padding:10px;
}

.card {display:inline-block;}

.kpi-card {
  background-color: #F4F4F4;
  border-radius: 5px;
  box-shadow: 1px 1px 1px  #32325C;
}

.kpi-card > div {
  display: inline-block;
  border-radius: 5px;
  font-size: 14px;
  font-style: bolder;
  text-align: center
}

.lightblue-bg {
  background-color: #98C1D9 !important;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.wrapper > div {
  margin: 5px;
  padding: 5px;
  flex: 1 1 150px;
  justify-content: space-around;
  text-align:center;
  border-radius: 5px;
  background-color: #F4F4F4;
  box-shadow: 1px 1px 1px  lightgrey;
}

.small-text {
  font-size: 12px !important;
}
