//////////////Report cards sur index///////////

.report-card {
  background-color: white;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  .report-card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.report-card:hover {
  cursor: pointer;
}


.report-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  ul {
    padding-left: 0;
    margin-bottom: 0px;
  }
  ul > li {
    font-size: 14px;
    display: flex;
  }
  h5 {
    font-size: 12px;
    text-transform: uppercase;
    color: $blue;
  }
  h5 span {
    font-size: 22px;
  }
}

.report-card-grid ul > li img {
  margin-right: 5px;

  object-fit: cover;
}

.report-card-contrib {
  .loupe-icon {
    text-align: right;
  }
}


.report-card-top{
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
  .report-card-infos {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.report-card-top .report-status {
    padding: 10px 20px;
    display: inline-block;
    color: white;
    &.completed {
      background-color: $blue;
    }
}

.report-card-top h2 {
  font-size: 24px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}

.report-card-top h3{
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  text-align: center;
}

.report-card-orga li {
  list-style-type: none;
}

.report-card-module li {
  list-style-type: none;
}
