.log-in-background {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/7368/startup-photos.jpg?cs=srgb&dl=person-in-blue-shirt-wearing-brown-beanie-writing-on-white-7368.jpg&fm=jpg');
  background-size: cover;
  height: 100vh;
}

.log-in-card {
  padding: 15px;
  margin-top: 80px;
  background-color: white;
  border-radius: 4px;
}

// .form-check {

// }


// .user_remember_me label.form-check-label.boolean.optional{
//   background-color:white;
// }
