// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


// ----------------------------------------------------------------------------------
//  General font classes
// ----------------------------------------------------------------------------------

.blue-link {
  color: $kc-blue;
  text-decoration: underline;
  &:hover {
    color: $kc-turquoise;
    text-decoration: underline;
    text-decoration-color: $kc-turquoise;
  }
}

html {
  font-size: 100%;
}

// Voir https://css-tricks.com/snippets/css/fluid-typography/
html {
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
}

p, li, a {
  color: $kc-black;
  font-family: 'Poppins', sans-serif;
  line-height: 1.7rem;
}

h1, h2, h3 {
  font-family: Viga, sans-serif;
  color: $kc-blue;
}

h3 {
  letter-spacing: 0.04rem;
  line-height: 2rem;
}

h4 {
  font-family: 'Poppins', sans-serif;
  color: $kc-blue;
  letter-spacing: 0.02rem;
  line-height: 2.3rem;
}

h5 {
  font-family: 'Poppins', sans-serif;
  color: $kc-blue;
  letter-spacing: 0.02rem;
  line-height: 2.3rem;
}

h6 {
  font-family: 'Poppins', sans-serif;
  color: $kc-blue;
  letter-spacing: 0.02rem;
  line-height: 1.5rem;
}

.text-kc-orange {
  color: $kc-orange;
}

.text-kc-blue {
  color: $kc-blue;
}


// ----------------------------------------------------------------------------------
//  Background colors
// ----------------------------------------------------------------------------------

.bg-kc-lightblue {
  background-color: $kc-lightblue;
}

.bg-kc-orange {
  background-color: $kc-orange;
}

.bg-kc-yellow {
  background-color: $kc-yellow;
}

.bg-kc-pink {
  background-color: $kc-pink;
}

.bg-kc-turquoise {
  background-color: $kc-turquoise;
}

.bg-kc-blue {
  background-color: $kc-blue;
}

