<div id="<%= module_scope.id %>" class="row flash-module flash-module-selected">
    <%= link_to "#{module_scope.name}",
    report_scope_path(module_scope.report_scopes.first, report_id: params[:report_id] ),
    method: :delete, remote: true, class: "bg-transparent border-0 full-size-click text-center" %>
</div>


